
.background-img{
  background-image: url(images/food-bg.jpg);
}
@media screen and (min-width:991px){
  #img-logo{
    width: 35%;
  }
  #btn1{
    width: 110px;
  }
}
.a1{
  text-decoration: none;
  color: white;
}
.a1:hover {
  color: white;
  font-weight: bold;
}
.a3:hover{
  color: #FC8019;
}
.btn-store:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
@media screen and (max-width:991px){
  #img-logo{
    width: 50%;
  }
  #t2{text-align: center;}
}
